@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
li{ list-style:none;}
h1,h2,h3,h4,h5,h6,strong,b{ font-size:12px; font-weight:normal; font-family:"微软雅黑";}
em,i{font-style:normal;}
a{ text-decoration:none;}
.clearfix:after{content:""; display:block;clear:both;}
.clearfix{zoom:1;}
.w{ width:960px;margin:0 auto;}
.fl{ float:left;}
.fr{ float:right;}
input{ border:none; background:none; outline:none;}
img{border:none;}
