@charset "utf-8";
/* CSS Document */
body{background:#352A48;}
.header{width:100%;min-width:980px;height:50px;background:#653EB3;position: fixed;left:0;top:-50px;z-index: 99;transition: 0.3s;}
.header.on{top:0;}
.header .hd_c{width:980px;height:50px;}
.header .hd_c .hd_cl{width:80px;height:50px;}
.header .hd_c .hd_cl h1{width:80px;height:40px;background: url(../img/5-140FGZS0.gif)no-repeat 0 8px;text-align: right;font-size:16px;line-height: 50px;color:#fff;}
.header .hd_c .hd_cr{position:relative;}
.header .hd_c .hd_cr li{height:50px;width:80px;text-align: center;line-height: 50px;font-size: 14px;_padding:0 10px;float: left;position:relative; z-index:2;}
.header .hd_c .hd_cr li a{display:block;color:#fff;height:50px;width:80px;}
.header .hd_c .hd_cr li.box1 {position:absolute; left:0; top:0; background:#352A48; z-index:1;opacity: 0.4;filter:alpha(opacity:40);}
.header .hd_c .hd_cr li.active{color:orange;cursor:pointer;}

/*header end*/
.l_nav{width:40px;height:246px;background:#653EB3;position: fixed;right:0px;top:180px;z-index: 99;padding-top: 20px;border-radius: 4px;}
.l_nav li{font-size: 18px;text-align: center;padding:10px 0;color:#fff;cursor:pointer ;}
.l_nav li:hover{color:orange;}
.l_nav li.on{background:#fff;color:#653EB3;}
/*l_nav end*/
.banner{width:100%;min-width:980px;height:670px;background:url(../img/bdd2.jpg)no-repeat 0px 0px;overflow: hidden;background-attachment: scroll;opacity: 0;position: relative;font-family: '微软雅黑';}
.banner h2{font-size: 65px;color:#fff;text-align: center;padding-top: 310px;letter-spacing:10px;font-weight:400;font-family: 'Browallia New';}
.banner p{font-size: 20px;color:#fff;text-align: center;padding-top: 20px;line-height: 30px;}
.banner a{width:160px;height:40px;text-align: center;font-size: 19px;color:#fff;background:#c43d2a ;border-radius: 4px;position: absolute;top:670px;left:50%;margin-left: -80px;line-height: 40px;}
.banner a:hover{background:#ed4933; }
.banner img{height:724px;}

/*banner end*/
.introduce{width:100%;min-width:980px;height:460px;}
.introduce .introduce_c{width:980px;height:460px;position: relative;margin-top:60px; }
.introduce .introduce_c h2{text-align: center;font-size: 26px;color:#fff;line-height: 120px;}
.introduce .introduce_c p{padding:150px 100px 0 100px ;font-size:20px;color:#fff;text-align: center;}
.tox{width:121px;height:121px;position: absolute;left:50%;margin-left: -60px;}
.indCon{width:280px;position: absolute;left:50%;margin:22px 0 0 -140px;}
.indCon li{width:130px;height:35px;border-radius:20px;float: left;border:1px solid #fff;margin-right:8px;background:#653EB3;font-size: 16px;text-align: center;line-height: 35px;position: relative;}
.indCon li a{color:#fff;width:130px;height:35px;display: block;border-radius:20px;}
.indCon li span{position:absolute;left:0px;top:0;width:130px;height:35px;background:#352A48;opacity: 0.5;filter:alpha(opacity:50);}

/*introduce end*/
.prodshow{width:100%;min-width:980px;height:100px; background: url(../img/grjj.jpg)no-repeat center 0px;background-attachment: fixed;}
/*prodshow end*/
.production{width:100%;min-width:980px;background: url(../img/grjj.jpg)no-repeat center top;background-attachment: fixed;height:922px;position: relative;}
.production h3{text-align: center;font-size: 24px;color:#fff;line-height: 120px;}
.p_con{width:980px;height:620px;overflow: hidden;margin: 0 auto;}
.p_con li{width:300px;height:300px;margin: 12px;float: left;overflow: hidden;position: relative;cursor:pointer;disp lay: none;transi tion:.3s all ease;}
.p_con li:hover{box-shadow:-10px -10px 12px 1px #352A48;}
.p_con li span{width:300px;height:100px;background:#653EB3;opacity: 0.6;filter:alpha(opacity:60);position: absolute;left:0px;bottom:-100px;}
.p_con li b{width:300px;font-size: 16px;color:#fff;line-height:100px;text-align: center;position: absolute;left:0px;bottom:-100px;}
.p_con li img{width:300px;height:300px;}
.more{width:200px;height:48px;border-radius:48px;border:1px solid #fff;background:#653EB3;text-align: center;line-height: 48px;position: relative;overflow: hidden;font-size: 22px;margin:50px auto 80px;}
.more a{color:#fff;display: block;width:200px;height:50px;}
.more span{position:absolute;left:0px;top:0;width:200px;height:50px;background:#352A48;opacity: 0.5;filter:alpha(opacity:50);}
.production .top{width:50px;height:60px;text-align: center;font-size: 22px;color:#fff;background: #c43d2a;border-radius: 4px; display: block;position: fixed;right:50px;bottom:130px;padding-top: 12px;display:none;}
.production .top:hover{background:#ed4933; }

/*production end */
.all{background:#1ABC9C; height:auto;}
.all h3{text-align: center;font-size: 30px;color:#fff;line-height:normal;padding:100px 0 30px;}
.all p{text-align: center;font-size: 22px;color:#fff;line-height:normal;padding-bottom:40px;}
.all .p_con{width:980px;height:888px;margin: 0 auto;}
.all .p_con li{width:230px;height:230px;margin: 7px;float: left;overflow: hidden;position: relative;cursor:pointer;}
.all .p_con li:hover{box-shadow:0px 0px 12px 4px #653EB3;}
.all .p_con li span{width:230px;height:80px;background:#653EB3;opacity: 0.6;filter:alpha(opacity:60);position: absolute;left:0px;bottom:-100px;}
.all .p_con li b{width:230px;font-size: 15px;color:#fff;line-height:80px;text-align: center;position: absolute;left:0px;bottom:-100px;}
.all .p_con li img{width:230px;height:230px;}

/*production all end */
.gk{width:100%;min-width:980px;background: url(../img/grjj.jpg)no-repeat center top;background-attachment: fixed;height:265px;padding-top: 15px;}
.gk ul{width:800px;margin:0 auto;}
.gk ul li{width:100px;height: 250px;float: left;}
.gk ul li.on{opacity: 0.5;}
/*gk end */
.all2{background:url(../img/xmalbd2.jpg)no-repeat center top;height:auto;}
.all2 h3{text-align: center;font-size: 30px;color:#999;line-height:normal;padding:160px 0 30px;}
.all2 p{text-align: center;font-size: 22px;color:#999;line-height:normal;}
.all2 .p_con{width:980px;height:587px;margin: 0 auto;}

/* all2 end */
.me{overflow: hidden;height:621px;background: url(../img/grjj.jpg)no-repeat -100px 0px;background-attachment: fixed;}
.me h3{text-align: center;font-size: 24px;color:#fff;line-height:normal;padding:160px 0 90px;}
.me .menav{width:120px;margin-bottom: 200px;border-radius: 2px;position: relative; }
.me .menav li{cursor:pointer;padding-left:12px;height:35px;margin-right:10px;background:#653EB3;line-height: 35px;color:#fff;font-size: 16px;transition:0.3;}
.me .menav li .myzl{box-shadow:0px 0px 12px 5px #352A48;width:800px;padding:12px 0;position: absolute;left:120px;top:0;background:#653EB3;display: none;}
.me .menav li .myzl.myjn{top:-200px;}
.me .menav li .myzl ul{width:800px;font-size: 14px;}
.me .menav li .myzl li{margin:auto;width:770px;height:50px;line-height: 50px;border-bottom: 1px solid #ccc;content:""; display:block;clear:both;zoom:1;color:#fff;font-size: 14px;}
.me .menav li .myzl li:hover{background:#fff;color:#333;}
.me .menav li .myzl li .l{width:400px;float: left;}
.me .menav li .myzl li .r{float: left;}
.me .menav li.active{background:#fff;color:#333;}

/*production me end */
.call{overflow: hidden;height:1048px;}
.call h3{text-align: center;font-size: 24px;color:#fff;line-height:normal;padding:150px 0 50px;}
.call .callnav{width:980px;height:650px;margin:0 auto;font-size: 24px;color:#fff;margin-bottom: 100px;background: url(../img/callmebd.png)no-repeat center top;}
.call .callnav li{margin:0 auto;width:808px;height:50px;line-height: 50px;content:""; display:block;clear:both;zoom:1;padding-top:300px; }
.call .callnav li .l{width:508px;float: left;}
.call .callnav li .r{float: left;}

/*production call end */
.footer{width:100%;min-width:980px;background:#653EB3;}
.footer .f_con{width:980px;height:120px;position: relative;}
.footer .f_con p{font-size: 18px;color:#fff;padding-top:35px;text-align: center; }
.footer .f_con .weixin{width:55px;height:55px;position: absolute;right:120px;top:35px;}
.footer  .weixin img{width:55px;height:55px;cursor:pointer;}
.footer  .weixinb{height:150px;position: absolute;right:73px;top:-157px;opacity: 0;filter:alpha(opacity:0); }
/*footer end*/
